@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDF6E8;
}

* {
  box-sizing: border-box;
}

.carousel-indicators .mantine-Carousel-indicator {
  background-color: #A5B4FC !important;
  width: 10px;
  height: 10px;
  transition: width 250ms ease;
}

.carousel-indicators .mantine-Carousel-indicator[data-active] {
  background-color: #3B82F6 !important;
  width: 30px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #3B82F6; /* 포인트 컬러로 변경 */
  border-radius: 6px;
}
